<form class="" action="/company" method="post">

<label for="email">Email</label>
<input type="text" name="email" id="email">
<label for="password">Password</label>
<input type="text" name="password" id="password">

<button type="submit" name="button">Submit</button>
</form>
