<div class="container">
  <div class="collection">
    <div class="collection-header center">
      <h4>Sign Up Your Company</h4>
    </div>
  </div>
  <form class="" action="/company/signup" method="post">
    <div class="input-field">
      <label for="name">Company Name</label>
      <input type="text" name="name" id="name">
    </div>
    <div class="input-field">
      <label for="email">Email</label>
      <input type="text" name="email" id="email">
    </div>
    <div class="input-field">
      <label for="password">Password</label>
      <input type="password" name="password" id="password">
    </div>
    <button class="btn blue" type="submit" name="button">Submit</button>
  </form>
  <br><br><br><br>
</div>
