<h1>Welcome to Billy</h1>
  <h4>Please sign up or log in to your account</h4>

  <a href="/user/signup">Sign up as a user</a>
  <br>
  <a href="/company/signup">Sign up as a company</a>
  <br>
  <a href="/user/login">Log In as a user</a>
  <br>
  <a href="/company/login">Log In as a company</a>
