<div class="container">
  <div class="collection">
    <div class="collection-header center">
      <h4>Login As a User</h4>
    </div>
    <% if @error %>
      <div class="collection-item red">
        <%=@error%>
      </div>
    <% end %>
  </div>
  <form class="" action="/user" method="post">
    <div class="input-field">
      <label for="email">Email</label>
      <input type="text" name="email" id="email">
    </div>
    <div class="input-field">
      <label for="password">Password</label>
      <input type="password" name="password" id="password">
    </div>
    <button class="btn blue" type="submit" name="button">Submit</button>
  </form>
  <br><br><br><br>
</div>
